*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
app/src/main/java/com/company/zixin/hardtask/view/
app/src/main/res/drawable-hdpi/
appcontext/libs/
appcontext/src/main/java/
appcontext/src/main/res/drawable/
card/libs/
card/src/main/res/drawable/
chat/libs/
chat/src/main/java/
chat/src/main/res/drawable/
commonlibrary/libs/
commonlibrary/src/main/java/com/company/zixin/commonlibrary/utils/
commonlibrary/src/main/res/drawable/
login/libs/
login/src/main/java/com/zixin/login/fragment/
login/src/main/java/com/zixin/login/viewmodel/fragment/
mine/libs/
mine/src/main/java/
mine/src/main/res/drawable/
score/libs/
score/src/main/java/
score/src/main/res/drawable/
