<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zixin.login">
    <application
        android:name="com.company.zixin.commonlibrary.base.BaseApplication"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegistActivity" />
        <activity android:name=".activity.UpDatePwdActivity" />
        <activity android:name=".activity.ChoiceIdActivity">
        </activity>
        <activity android:name=".activity.WritePerDataActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WriteComDataActivity">
        </activity>
    </application>
</manifest>